.container {
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 500px;
    padding-top: 17%;
  }
.left img {
    width: 200%;
    height: auto;
  }
.Content{
    margin-left: auto;
    font-size: 23px;
    padding-right: 5%;
}

.right {
    max-width: 400px;
  }

.right p {
    font-size: 25px;
    margin-bottom: 1.5rem;
  }

.ColorfulBannerImage{
    background-image: url(BrightColorful.png);
    padding-block: 40%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    background-repeat: no-repeat;
    position: relative;
}
.ServicesContentContainer{
    font-size: 30px;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 25%;
    text-align: center;
    padding-bottom: 65%;
}