.Header_Image{
  background-size:cover;
    display: flex;
    align-items: center;
    justify-content:center;
    background-repeat: no-repeat;
    position: relative;
}
.Banner{
  width: 90%;
  position: absolute;
  top: 70%;
  bottom: 30%;
  left: 5%;
  font-size: 50px;
}
.Headercontainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 500px;
    padding-top:17%;
  }
.C_left {
    margin-right: auto;
  }

.C_left img{
    width: 200%;
    height: auto;
    display: block;
  }

.C_right{
    margin-left: auto;
    max-width: 400px;
    padding-right: 5%;
  }

.C_right p {
    font-size: 25px;
    margin-bottom: 1.5rem;
  }

.ColorfulBannerImage{
    background-image: url(BrightColorful.png);
    padding-block: 40%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    background-repeat: no-repeat;
    position: relative;
}
.ServicesContentContainer{
    font-size: 30px;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 25%;
    text-align: center;
    padding-bottom: 65%;
}
.ColorfulBannerImage :last-child{
  position: absolute;
}