*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #262626;
}

.Header_Style{
    width: 100%;
    font-style: bold;
    position: fixed;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(10px);  
    height: 80px;
    padding: 0 30px;
    padding-top: 2%;
}

.Header_List{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Header_List_Item{
    height: 100%;
    padding: 0 30px;
    border-radius: 1000px;
    text-decoration: none;
}

nav a:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 98, 171, 0.5), 0 0 30px rgba(255, 255, 255, 0.4);
    filter: brightness(1.1);
}

nav li:first-child{ 
    margin-right: auto;
    font-weight: bolder;
    font-size: 33px;
}

